@font-face {
  font-family: Futura;
  src: url("../FuturaPTCondBookOblique.otf");
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  display: flex;
  background-color: #151515;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.half-1 {
  height: 100vh;
  width: 50vw;
  border-right: 1px solid #00d4ff;
  transform: rotate(7deg) scaleY(2) ;
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes reveal {
  from {
    clip-path: polygon(
      0% calc(50% - 18px),
      /* top left */ 100% calc(50% - 18px),
      /* top right */ 100% calc(50% + 12px),
      /* bottom right */ 0% calc(50% + 12px) /* bottom left */
    );
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.half-mask {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0;
  background-color: 151515;
  clip-path: polygon(
    0% 50%,
    /* top left */ 100% 50%,
    /* top right */ 100% 50%,
    /* bottom right */ 0% 50% /* bottom left */
  );
  animation: reveal ease 0.5s 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .bg-image {
    width: 50%;
    img {
      width: 50vw;
      height: 100vh;
      object-fit: cover;
      object-position: 0 100%;
    }
  }
}

.content {
  box-sizing: border-box;
  z-index: 10;
  display: grid;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";

  .link {
    padding: 32px;

    a {
      font-family: Futura;
      text-decoration: none;
      color: white;
      font-size: 20px;
      letter-spacing: 5px;
      overflow: hidden;
    }

    &.bottom-left {
      grid-area: bottom-left;
      justify-self: start;
      align-self: end;
      opacity: 0;
      animation: fadein ease 0.4s 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      a {
        background: linear-gradient(to right, #00d4ff, #00d4ff 50%, white 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;

        &:hover {
          background-position: 0 100%;
        }
      }
    }

    &.top-left {
      grid-area: top-left;
      align-self: start;
      justify-self: start;
      opacity: 0;
      animation: fadein ease 0.4s 1.6s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      a {
        background: linear-gradient(to right, #00d4ff, #00d4ff 50%, white 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;

        &:hover {
          background-position: 0 100%;
        }

        &.active {
          background-position: 0 100%;
        }
      }
    }

    &.top-right {
      grid-area: top-right;
      justify-self: end;
      align-self: start;
      opacity: 0;
      animation: fadein ease 0.4s 1.8s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      a {
        background: linear-gradient(to left, #00d4ff, #00d4ff 50%, white 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 0;
        transition: background-position 275ms ease;

        &:hover {
          background-position: 100% 100%;
        }
      }
    }

    &.bottom-right {
      grid-area: bottom-right;
      justify-self: end;
      align-self: end;
      opacity: 0;
      animation: fadein ease 0.4s 2.2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      a {
        background: linear-gradient(to left, #00d4ff, #00d4ff 50%, white 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 0;
        transition: background-position 275ms ease;

        &:hover {
          background-position: 100% 100%;
        }
      }
    }
  }
}

.silk-logo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fadein ease 1s 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: grid;
  align-items: center;
  justify-items: center;
}

.form-container {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 20;
  right: 0;
  display: grid;
  opacity: 0;
  bottom: 0;
  pointer-events: none;

  .form {
    width: 400px;
    align-self: center;
    justify-self: start;
    margin-left: 15%;
    padding: 40px 32px;
    pointer-events: visible;

    h1 {
      font-family: Futura;
      color: white;
      font-size: 20px;
      letter-spacing: 5px;
      margin: 0;
      text-transform: uppercase;
    }

    input {
      height: 34px;
      font-family: Futura;
      color: rgba(245, 245, 245, 0.3);
      font-size: 20px;
      text-transform: uppercase;
      padding-bottom: 8px;
      letter-spacing: 5px;
      width: 285px;
      display: block;
      box-sizing: border-box;
      background: transparent;
      border: 0;
      border-bottom: 1px solid rgba(245, 245, 245, 0.3);
      margin-bottom: 30px;
      margin-top: 40px;

      &.alerta {
        color: #00d4ff;
      }
    }

    button {
      background-color: transparent;
      font-family: Futura;
      color: rgba(245, 245, 245, 1);
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
      border: 1px solid #00d4ff;
      padding: 9px 26px;
      margin-top: 15px;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  #silkLogo {
    margin-left:1px;
  }
}

@media (min-width: 1024px) {
  #silkLogo {
    margin-left:2px;
  }
}

@media (min-width: 1200px) {
  #silkLogo {
    margin-left:3px;
  }
}

@media (min-width: 1400px) {
  #silkLogo {
    margin-left:4px;
  }
}

@media (min-width: 1600px) {
  #silkLogo {
    margin-left:5px;
  }
}

@media (min-width: 1800px) {
  #silkLogo {
    margin-left:6px;
  }
}
