@font-face {
  font-family: Futura;
  src: url("../FuturaPTCondBookOblique.otf");
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #151515;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.half-1 {
  height: 100vh;
  width: 50vw;
  border-right: 1px solid #00d4ff;
  -webkit-transform: rotate(7deg) scaleY(2);
          transform: rotate(7deg) scaleY(2);
  position: fixed;
  top: 0;
  left: 0;
}

@-webkit-keyframes reveal {
  from {
    -webkit-clip-path: polygon(0% calc(50% - 18px), 100% calc(50% - 18px), 100% calc(50% + 12px), 0% calc(50% + 12px));
            clip-path: polygon(0% calc(50% - 18px), 100% calc(50% - 18px), 100% calc(50% + 12px), 0% calc(50% + 12px));
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes reveal {
  from {
    -webkit-clip-path: polygon(0% calc(50% - 18px), 100% calc(50% - 18px), 100% calc(50% + 12px), 0% calc(50% + 12px));
            clip-path: polygon(0% calc(50% - 18px), 100% calc(50% - 18px), 100% calc(50% + 12px), 0% calc(50% + 12px));
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.half-mask {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0;
  background-color: 151515;
  -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
          clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
  -webkit-animation: reveal ease 0.5s 1s;
          animation: reveal ease 0.5s 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.half-mask .bg-image {
  width: 50%;
}

.half-mask .bg-image img {
  width: 50vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}

.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "top-left top-right" "bottom-left bottom-right";
}

.content .link {
  padding: 32px;
}

.content .link a {
  font-family: Futura;
  text-decoration: none;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  overflow: hidden;
}

.content .link.bottom-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bottom-left;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  opacity: 0;
  -webkit-animation: fadein ease 0.4s 2s;
          animation: fadein ease 0.4s 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.content .link.bottom-left a {
  background: -webkit-gradient(linear, left top, right top, from(#00d4ff), color-stop(50%, #00d4ff), color-stop(50%, white));
  background: linear-gradient(to right, #00d4ff, #00d4ff 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.content .link.bottom-left a:hover {
  background-position: 0 100%;
}

.content .link.top-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top-left;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
  opacity: 0;
  -webkit-animation: fadein ease 0.4s 1.6s;
          animation: fadein ease 0.4s 1.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.content .link.top-left a {
  background: -webkit-gradient(linear, left top, right top, from(#00d4ff), color-stop(50%, #00d4ff), color-stop(50%, white));
  background: linear-gradient(to right, #00d4ff, #00d4ff 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.content .link.top-left a:hover {
  background-position: 0 100%;
}

.content .link.top-left a.active {
  background-position: 0 100%;
}

.content .link.top-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: top-right;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  opacity: 0;
  -webkit-animation: fadein ease 0.4s 1.8s;
          animation: fadein ease 0.4s 1.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.content .link.top-right a {
  background: -webkit-gradient(linear, right top, left top, from(#00d4ff), color-stop(50%, #00d4ff), color-stop(50%, white));
  background: linear-gradient(to left, #00d4ff, #00d4ff 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 0;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.content .link.top-right a:hover {
  background-position: 100% 100%;
}

.content .link.bottom-right {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: bottom-right;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  opacity: 0;
  -webkit-animation: fadein ease 0.4s 2.2s;
          animation: fadein ease 0.4s 2.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.content .link.bottom-right a {
  background: -webkit-gradient(linear, right top, left top, from(#00d4ff), color-stop(50%, #00d4ff), color-stop(50%, white));
  background: linear-gradient(to left, #00d4ff, #00d4ff 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 0;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.content .link.bottom-right a:hover {
  background-position: 100% 100%;
}

.silk-logo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: fadein ease 1s 0.3s;
          animation: fadein ease 1s 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.form-container {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 20;
  right: 0;
  display: -ms-grid;
  display: grid;
  opacity: 0;
  bottom: 0;
  pointer-events: none;
}

.form-container .form {
  width: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 15%;
  padding: 40px 32px;
  pointer-events: visible;
}

.form-container .form h1 {
  font-family: Futura;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

.form-container .form input {
  height: 34px;
  font-family: Futura;
  color: rgba(245, 245, 245, 0.3);
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 8px;
  letter-spacing: 5px;
  width: 285px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(245, 245, 245, 0.3);
  margin-bottom: 30px;
  margin-top: 40px;
}

.form-container .form input.alerta {
  color: #00d4ff;
}

.form-container .form button {
  background-color: transparent;
  font-family: Futura;
  color: whitesmoke;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid #00d4ff;
  padding: 9px 26px;
  margin-top: 15px;
  cursor: pointer;
}

@media (min-width: 768px) {
  #silkLogo {
    margin-left: 1px;
  }
}

@media (min-width: 1024px) {
  #silkLogo {
    margin-left: 2px;
  }
}

@media (min-width: 1200px) {
  #silkLogo {
    margin-left: 3px;
  }
}

@media (min-width: 1400px) {
  #silkLogo {
    margin-left: 4px;
  }
}

@media (min-width: 1600px) {
  #silkLogo {
    margin-left: 5px;
  }
}

@media (min-width: 1800px) {
  #silkLogo {
    margin-left: 6px;
  }
}
/*# sourceMappingURL=main.css.map */